<!DOCTYPE html>
<html lang="en" xmlns="">
<head>
    <title>JA About</title>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/main/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../../static/main/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="../../static/main/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="../../static/main/css/themify-icons.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../../static/main/css/swiper.min.css">
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="../../static/main/css/style.css">
    {{ form.media }}
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
</head>
<body class="about-page">
<div class="page-header">
    <header class="site-header">


        {% include 'main/includes/navbaritems.html' %}

    </header><!-- .site-header -->
    <div class="page-header-overlay">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1>Add new Category</h1>
                    </header><!-- .entry-header -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header-overlay -->
</div><!-- .page-header -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="breadcrumbs">
                <ul class="flex flex-wrap align-items-center p-0 m-0">
                    <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                    <li>Categories</li>
                </ul>
            </div><!-- .breadcrumbs -->
        </div><!-- .col -->
    </div><!-- .row -->
    <div class="container">
        <div class="col-md-8">
            <h2>Add new category</h2>
            <form method="POST" id="cat">
                {% csrf_token %}
                <strong>Category: </strong>{{ form.category }}
                <p></p>
                <strong>Summary: </strong>{{ form.category_summary }}
                <p></p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


    {% include 'main/includes/footer.html' %}

</div>
</body>


<!-- Compiled and minified JavaScript for Materialize CSS -->

<script type='text/javascript' src='../../static/main/js/jquery.js'></script>
<script type='text/javascript' src='../../static/main/js/jquery.collapsible.min.js'></script>

<script src="{% static "tinymce/js/prism.js" %}"></script>
<script type='text/javascript' src='../../static/main/js/bootstrap.bundle.js'></script>
<script type='text/javascript' src='../../static/main/js/bootstrap.js'></script>
<script type='text/javascript' src='../../static/main/js/swiper.min.js'></script>
<script type='text/javascript' src='../../static/main/js/masonry.pkgd.min.js'></script>
<script type='text/javascript' src='../../static/main/js/custom.js'></script>


</html>