<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <title>Jike Education</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/main/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../../static/main/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="../../static/main/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="../../static/main/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../../static/main/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="../../static/main/css/style.css">


</head>



<body class="login-page" style="background: #3b4655">
 <div class="row justify-content-center">
     <div class="col-3">

             <div class="card-body"></div>
                <h3 class="text-white">Change your password</h3>
                <form method="POST">
                {% csrf_token %}

                    <p class="text-white">Old Password: </p>{{ form.old_password }}<p></p>
                    <p class="text-white">New Password: </p>{{ form.new_password1 }}<p></p>
                    <p class="text-white">Repeat your password: </p>{{ form.new_password2 }}<p></p>

                     <button type="submit" class="btn btn-primary">Change your password</button>
                </form>

                <p></p>

      </div>
 </div>
</body>
