<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Jike Education</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/main/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../../static/main/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="../../static/main/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="../../static/main/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../../static/main/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="../../static/main/css/style.css">


</head>
{%  include 'main/includes/messaging.html' %}
<body class="login-page" style="background: #3b4655">
 <div class="row justify-content-center">
     <div class="col-3">

             <div class="card-body"></div>
                <h3 class="text-white">Login</h3>
                <form method="POST">
                {% csrf_token %}
                    <p class="text-white">Username</p>
                 {{ form.username }}
                    <p></p>
                    <p class="text-white">Password</p>
                    {{ form.password }}
                             <p></p>

                     <button type="submit" class="btn btn-primary">Login</button>
                </form>

                <p></p>
                     <p><a href="account/password_reset" target="blank" class="text-primary"><strong>Forget your password?</strong></a></p>

         <p class="text-white">New to JiangTang Academy? <a href="register" target="blank" class="text-primary"><strong>Register here</strong></a>!<p></p>

      </div>
 </div>
</body>
{% include 'main/includes/js.html' %}
