


<!-- Compiled and minified JavaScript for Materialize CSS -->

<script type='text/javascript' src='../../static/main/js/jquery.js'></script>
<script type='text/javascript' src='../../static/main/js/jquery.collapsible.min.js'></script>
<script type='text/javascript' src='../../static/main/js/bootstrap.bundle.js'></script>
<script type='text/javascript' src='../../static/main/js/bootstrap.js'></script>
<script type='text/javascript' src='../../static/main/js/swiper.min.js'></script>
<script type='text/javascript' src='../../static/main/js/masonry.pkgd.min.js'></script>
<script type='text/javascript' src='../../static/main/js/custom.js'></script>
