{% include "main/includes/messaging.html" %}

<div class="top-header-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                <div class="header-bar-email d-flex align-items-center">
                    <i class="fa fa-envelope"></i><a class="email" href="mailto:duo_zhang@qq.com">duo_zhang@qq.com</a>
                </div><!-- .header-bar-email -->

                <div class="header-bar-text lg-flex align-items-center">
                    <p><i class="fa fa-phone"></i>+86 17806260517</p>
                </div><!-- .header-bar-text -->
            </div><!-- .col -->

            <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                <div class="header-bar-search">
                    <form class="flex align-items-stretch">
                        <input type="search" placeholder="What would you like to learn?">
                        <button type="submit" value="" class="flex justify-content-center align-items-center"><i
                                class="fa fa-search"></i></button>
                    </form>
                </div><!-- .header-bar-search -->

                <div class="header-bar-menu">
                    {% if user.is_authenticated %}
                        &nbsp  Welcome! <a href="/account">{{ user.username|title }}</a>
                    {% else %}
                        <ul class="flex justify-content-center align-items-center py-2 pt-md-0">
                            <li><a href="/register">Register</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    {% endif %}


                </div><!-- .header-bar-menu -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .top-header-bar -->

<div class="nav-bar ">
    <div class="container">
        <div class="row">
            <div class="col-9 col-lg-3">
                <div class="site-branding">
                    <h1 class="site-title"><a href="/" rel="home">JiangTang <span>Academy</span></a></h1>
                </div><!-- .site-branding -->
            </div><!-- .col -->

            <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
                <nav class="site-navigation flex justify-content-end align-items-center">
                    <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                        {% if request.path == "/" %}
                            <li class="current-menu-item"><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/courses">Courses</a></li>
                            <li><a href="/blog">blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username|title }}
                                    </a>
                                    <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/account">Account</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" href="/admin">Admin</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% elif request.path == "/about" %}
                            <li><a href="/">Home</a></li>
                            <li class="current-menu-item"><a href="/about">About</a></li>
                            <li><a href="/courses">Courses</a></li>
                            <li><a href="/blog">blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username|title }}
                                    </a>
                                    <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/account">Account</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" href="/admin">Admin</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% elif request.path == "/courses" %}
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li class="current-menu-item"><a href="/courses">Courses</a></li>
                            <li><a href="/blog">blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username|title }}
                                    </a>
                                    <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/account">Account</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" href="/admin">Admin</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% elif request.path == "/blog" %}
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/courses">Courses</a></li>
                            <li class="current-menu-item"><a href="/blog">blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username|title }}
                                    </a>
                                    <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/account">Account</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" href="/admin">Admin</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% elif request.path == "/contact" %}
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/courses">Courses</a></li>
                            <li><a href="/blog">blog</a></li>
                            <li class="current-menu-item"><a href="/contact">Contact</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username|title }}
                                    </a>
                                    <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/account">Account</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" href="/admin">Admin</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% else %}
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/courses">Courses</a></li>
                            <li><a href="/blog">blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown current-menu-item">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ user.username|title }}
                                    </a>
                                    <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/account">Account</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                        {% if user.is_superuser %}
                                            <a class="dropdown-item" href="/admin">Admin</a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>


                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->


                </nav><!-- .site-navigation -->


            </div><!-- .col -->


        </div><!-- .row -->


    </div><!-- .container -->

</div><!-- .nav-bar -->


